@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
    --cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);
    --black: hsl(0, 0%, 0%);
    --grey: hsl(0, 0%, 48%);
    --light-grey: #f6f3f3;
    --white: hsl(0, 0%, 100%);
    --bold: 700;
    --medium: 500;
    --light: 400;
    --small-text: 1rem;
    --big-text: 1.6rem;
    --bigger-text: 2rem;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100vw;
    height: auto;
    font-family: 'Commissioner', sans-serif;
    overflow-x: hidden;
    background-color: rgb(232, 233, 227);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    position: absolute;
}

.hero-section {
    top: 0;
    object-fit: contain;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
}

ul > li {
    cursor: pointer;
    font-size: var(--small-text);
    font-weight: var(--light);
    color: var(--white);
}

.contents {
    width: 50%;
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 100%;
}

.first {
    position: relative;
    font-size: var(--small-text);
    text-align: center;
}

.mastercraft-logo {
    top: -1.5rem;
    position: absolute;
}

.first > h1 {
    font-size: var(--big-text);
    margin: 3rem 3rem .5rem;
}

.actions {
    margin: 2rem 0;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

button {
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: var(--bold);
    background-color: var(--light-grey);
}

button:hover {
    transform: scale(102%);
}

.project:hover {
    background-color: var(--dark-cyan);
    color: var(--white);
}

.bookmark {
    background-image: url(./images/icon-bookmark.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 180px;
}

.bookmark > p {
    margin-left: 2.2rem !important;
}


.second,
.third {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.figures {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: 3rem;
}

.funds > h2,
.backers > h2,
.days > h2 {
    font-size: var(--bigger-text);
}

.funds,
.backers,
.days {
    text-align: left;
    width: 31%;
}

.funds,
.backers {
    border-right: 1px solid var(--grey);
}

.backers,
.days {
    margin-left: 5%;
}

.range {
    width: 85%;
    height: 15px;
    background-color: var(--light-grey);
    border-radius: 12px;
    margin-bottom: 2.5rem;
}

.range-length {
    width: 80%;
    height: inherit;
    background-color: var(--cyan);
    border-radius: 12px;   
}

/* About section */

.about-section {
    width: 85%;
    margin-top: 3rem;
}

.about-section > h2,
.about-section > p {
    margin-bottom: 1.5rem;
}

.inner-sections {
    width: 100%;
    border: 1px solid var(--grey);
    margin-bottom: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 2rem;
    font-weight: var(--bold);
}

.top > p {
    color: var(--cyan);
    font-size: 14px;
}

.mid {
    margin: 1rem 1.5rem;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 2rem;
}

.bottom > button {
    background-color: var(--cyan);
    color: var(--white);
    font-weight: var(--bold);
}

.bottom > button:hover {
    background-color: var(--dark-cyan);
}

.out-of-stock {
    opacity: .5;
}

.out-of-stock:hover,
.out-of-stock > .bottom > button {
    cursor: no-drop;
}

.out-of-stock > .bottom > button {
    background-color: var(--grey);
    color: var(--black);
}

.left {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}