@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
    --cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);
    --black: hsl(0, 0%, 0%);
    --grey: hsl(0, 1%, 67%);
    --light-grey: #f6f3f3;
    --white: hsl(0, 0%, 100%);
    --bold: 700;
    --medium: 500;
    --light: 400;
    --small-text: 1rem;
    --big-text: 1.6rem;
    --bigger-text: 2rem;
    --paragraph: .8rem;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100vw;
    min-height: 100% !important;
    font-family: 'Commissioner', sans-serif;
    overflow-x: hidden;
    background-color: rgb(228, 228, 231);
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    align-items: center;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-two {
    position: absolute;
    width: 100%;
    height: 100%;
    display: hidden;
    align-items: center;
    justify-content: center;
    padding-bottom: 60rem;
    padding-top: 20rem;
}

.step-three {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 80rem;
}


header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    position: absolute;
}

.hero-section {
    object-fit: contain;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
}

ul > li {
    cursor: pointer;
    font-size: var(--small-text);
    font-weight: var(--light);
    color: var(--white);
}

.contents {
    width: 50%;
    margin-top: -5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1;
}

.box {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 100%;
}

.first {
    position: relative;
    font-size: var(--small-text);
    text-align: center;
}

.mastercraft-logo {
    top: -1.5rem;
    position: absolute;
}

.first > h1 {
    font-size: var(--big-text);
    margin: 3rem 3rem .5rem;
}

.first > p {
    font-size: var(--small-text);
    width: 80%;
}

.actions {
    margin: 2rem 0;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

button {
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: var(--bold);
    background-color: var(--light-grey);
}

.project {
    background-color: var(--cyan);
    color: var(--white);
}

.project:hover {
    background-color: var(--dark-cyan);
}

.bookmark {
    background-image: url(./images/icon-bookmark.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 180px;
}

.bookmark > p {
    margin-left: 2.2rem;
}

/* modal section */
.modal {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 50%;
    padding-bottom: 3rem;
}

.modal-quit {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 15px;
    margin-top: 2rem;
}

.modal-quit > img {
    cursor: pointer;
}

.modal-heading {
    width: 90%;
    text-align: left;
    margin-bottom: 2rem;
}

.modal-heading > h2 {
    margin-bottom: 1rem;
    color: var(--black);
    font-weight: 700;
}

.modal-box {
    border: 1px solid var(--grey);
    width: 90%;
    margin-bottom: 1rem;
    border-radius: 12px;
    padding-bottom: 1rem;
}

.modal-box:focus {
    border: 1px solid var(--cyan);
}

.top-modal-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 2rem .7rem;
}

.bottom-modal-row {
    width: 85%;
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.first-modal {
    display: flex;
}

.first-modal > p {
    font-weight: 700;
    color: var(--cyan);
}

.slots-left {
    display: flex;
    gap: .5rem;
    align-items: center;
}

input {
    margin-right: 1rem;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
}

label {
    cursor: pointer;
    color: var(--black);
    font-weight: 700;
    margin-right: 1rem;
}

label:hover {
    color: var(--cyan);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: var(--white);
  border: 1px solid var(--grey);
  
}

input[type="checkbox"]:checked {
    background-color: var(--cyan);
    border: none;
}

label {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.modal-box:nth-child(6) {
    opacity: .4;
    cursor: no-drop;
}

.modal-box:nth-child(6) > .first-modal > input {
    cursor: no-drop;
}

.modal-box:nth-child(6) > .first-modal > input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: var(--white);
    border: 1px solid var(--grey);
}
  
.modal-box:nth-child(6) > .first-modal >  input[type="checkbox"]:checked {
    background-color: var(--white);
    border: none;
}

.modal-box:nth-child(6) > .first-modal > label {
    cursor: no-drop;
}

.pledge,
.pledge-two {
    border-top: 2px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

.no-reward {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.no-reward > button {
    background-color: var(--cyan);
    color: var(--white);
}

.no-reward > button:hover {
    background-color: var(--dark-cyan);
}

.pledge-amount {
    background-color: var(--white);
    margin-right: 1rem;
    border: 1px solid var(--cyan);
}

.pledge-amount:hover {
    border: 1px solid var(--cyan);
}

.pledge-text {
    margin-left: 1rem;
}

.continue-pledge {
    background-color: var(--cyan);
    color: var(--white);
    margin-right: .9rem;
}

.continue-pledge:hover {
    background-color: var(--dark-cyan);
}

/* modal ends */

/* success */

.success {
    width: 32%;
    height: 350px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 12px;
    top: 20rem;
}

.success > p {
    width: 80%;
    text-align: center;
}

.success > a > button {
    background-color: var(--cyan);
    color: var(--white);
}

.success > a > button:hover {
    background-color: var(--dark-cyan);
}

.success > a {
    text-decoration: none;
}

/* success ends*/

.second,
.third {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.figures {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: 3rem;
}

.funds > p {
    font-size: var(--paragraph);
}

.funds > h2,
.backers > h2,
.days > h2 {
    font-size: var(--bigger-text);
}

.funds,
.backers,
.days {
    text-align: left;
    width: 31%;
}

.funds,
.backers {
    border-right: 1px solid var(--grey);
}

.backers,
.days {
    margin-left: 5%;
}

.range {
    width: 85%;
    height: 15px;
    background-color: var(--light-grey);
    border-radius: 12px;
    margin-bottom: 2.5rem;
}

.range-length {
    width: 80%;
    height: inherit;
    background-color: var(--cyan);
    border-radius: 12px;   
}

/* About section */

.about-section {
    width: 85%;
    margin-top: 3rem;
}

.about-section > h2,
.about-section > p {
    margin-bottom: 1.5rem;
}

.inner-sections {
    width: 100%;
    border: 1px solid var(--grey);
    margin-bottom: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 2rem;
    font-weight: var(--bold);
}

.top > p {
    color: var(--cyan);
    font-size: var(--paragraph);
}

.mid {
    margin: 1rem 1.5rem;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 2rem;
}

.bottom > button {
    background-color: var(--cyan);
    color: var(--white);
    font-weight: var(--bold);
}

.bottom > button:focus {
    background-color: var(--dark-cyan);
}

.out-of-stock {
    opacity: .5;
}

.out-of-stock:hover,
.out-of-stock > .bottom > button {
    cursor: no-drop;
}

.out-of-stock > .bottom > button {
    background-color: var(--grey);
    color: var(--black);
}

.left {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.hidden,
.hidden-pledge,
.success-hidden {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.mobile-action-menu,
.mobile-nav-links,
.mobile-hero {
    display: none;
}

/* small screen laptop */

@media only screen and (max-width: 1024px) {
    .contents,
    .modal {
        width: 60%;
    }

    .success {
        width: 40%;
    }

    .mobile-action-menu,
    .mobile-nav-links,
    .mobile-hero {
        display: none;
    }
}

/* big screen tablet */

@media only screen and (max-width: 976px) {
    .contents,
    .modal {
        width: 70%;
    }

    .mobile-action-menu,
    .mobile-nav-links,
    .mobile-hero {
        display: none;
    }

    .modal {
        margin-top: 20rem;
    }

    .success {
        width: 50%;
        margin-top: 15rem;
    }

    .step-two {
        padding-bottom: 75rem;
    }
}

@media only screen and (min-width: 500px) {
    nav {
        width: 90%;
    }

    .mobile-action-menu,
    .mobile-nav-links,
    .mobile-hero {
        display: none;
    }

    ul {
        gap: 1rem;
    }

    .contents,
    .modal {
        width: 80%;
    }

    .funds > h2,
    .backers > h2,
    .days > h2 {
        font-size: 1.8rem;
    }

    .funds > p,
    .backers > p,
    .days > p {
        font-size: .7rem;
    }

    .success {
        width: 60%;
        margin-top: 15rem;
    }

    button,
    .bookmark {
        padding: 15px 20px;
    }
}

@media only screen and (max-width: 500px) {
    .desktop-hero {
        display: none;
    }

    .mobile-hero {
        display: flex;
        width: 100%;
    }

    .contents {
        margin-top: -2rem;
        width: 90%;
    }

    header {
        padding-top: 1.5rem;
    }

    nav {
        width: 80%;
        z-index: 1;
    }

    .nav-links {
        display: none;
    }

    .mobile-action-menu {
        display: contents;
    }

    .close {
        display: none;
    }
    
    .mobile-nav-links {
        display: none;
        position: absolute;
        background-color: var(--white);
        width: 80%;
        top: 4rem;
        height: 8rem;
        z-index: 1;
    }

    .mobile-nav-links > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .mobile-nav-links > ul > li {
        color: var(--black);
        width: 100%;
        margin-left: 3rem;
        font-weight: 500;
    }

    .bookmark {
        background-image: url(./images/icon-bookmark.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 0;
        width: 55px;
        height: 55px;
    }

    .bookmark > p {
        display: none;
    }
}